@model IEnumerable<CICSWebPortal.Models.ErrorTransaction>
@{
    string displayStyle = string.Empty;
    ViewBag.Title = "Transaction";
    Layout = null;
}

<table class="table table-striped" id="dataTable1">
    <thead>
        <tr>
            <td colspan="10" class="text-center">
                <h4>
                    <span class="pull-left">@Model.Count().ToString("#,0") transactions between @ViewBag.StartDate.ToString("dd/MM/yyyy") and @ViewBag.EndDate.ToString("dd/MM/yyyy")</span>
                    <span class="pull-right"> Total:: ₦ @Model.Sum(x => x.Amount.Value).ToString("#,0.00")</span>
                </h4>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <th>Upload Error</th>
            <th>Transaction Code</th>
            <th>Agent</th>
            <th>Amount</th>
            <th>Revenue</th>
            <th width="15%"></th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.UploadError)</td>
                <td>@Html.DisplayFor(modelItem => item.TransactionCode)</td>
                <td>@Html.DisplayFor(modelItem => item.AgentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.RevenueCode) : @Html.DisplayFor(modelItem => item.RevenueName) : @Html.DisplayFor(modelItem => item.RevenueHead)</td>
                <td><a data-target='#view_modal' role='button' data-view-id='@Html.DisplayFor(modelItem => item.TransactionId)' class='btn btn-default viewButton' data-toggle='modal'><i class='fa fa-edit'></i> View Details</a></td>
                <td>@Html.ActionLink("Resolve", "ResolveTransaction", "UploadError", new { id = item.TransactionId }, new { role = "button", @class = "btn btn-primary" })</td>

            </tr>
        }
    </tbody>
</table>

















