@model IEnumerable<CICSWebPortal.Models.ErrorTransaction>
@{
    ViewBag.Title = "Upload Errors";
}


<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#"> Home</a></li>
        <li class="active">Upload Errors</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="panel-heading">
    <div class="row">
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"> Start </span>
                <input type="text" class="form-control" id="StartDate" value="@ViewBag.StartDate.ToString("MM/dd/yyyy")" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"> End </span>
                <input type="text" class="form-control" id="EndDate" value="@ViewBag.EndDate.ToString("MM/dd/yyyy")" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Show </span>
                <select name="Limit" id="Limit" class="form-control">
                    <option id="10" value="10">10</option>
                    <option id="50" value="50">50</option>
                    <option id="100" value="100">100</option>
                    <option id="200" value="200">200</option>
                    <option id="500" value="500" selected="selected">500</option>
                    <option id="1000" value="1000">1000</option>
                    <option id="null" value="null">All</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Filter </span>
                <select name="FilterData" id="FilterData" class="form-control">
                    <option id="0" value="0">Pending</option>
                    <option id="1" value="1">Resolved</option>
                    <option id="null" value="null" selected="selected">All</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group pull-right">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-refresh"></i></span>
                <button class="btn btn-primary form-control" id="btnRefresh">Refresh</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default table-responsive">
    <div class="padding-md clearfix" id="reportData">
        <table class="table table-striped" id="dataTable1">
            <thead>
                <tr>
                    <td colspan="10" class="text-center">
                        <h4>
                            <span class="pull-left">@Model.Count().ToString("#,0") transactions between @ViewBag.StartDate.ToString("dd/MMM/yyyy") and @ViewBag.EndDate.ToString("dd/MMM/yyyy")</span>
                            <span class="pull-right"> Total:: ₦ @Model.Sum(x => x.Amount.Value).ToString("#,0.00")</span>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Upload Error</th>
                    <th>Transaction Code</th>
                    <th>Agent</th>
                    <th>Amount</th>
                    <th>Revenue</th>
                    <th width="15%"></th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.UploadError)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.AgentName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.RevenueCode) : @Html.DisplayFor(modelItem => item.RevenueName) : @Html.DisplayFor(modelItem => item.RevenueHead)</td>
                        <td><a data-target='#view_modal' role='button' data-view-id='@Html.DisplayFor(modelItem => item.TransactionId)' class='btn btn-default viewButton' data-toggle='modal'><i class='fa fa-edit'></i> View Details</a></td>
                        <td>@Html.ActionLink("Resolve", "ResolveTransaction", "UploadError", new { id = item.TransactionId }, new { role = "button", @class = "btn btn-primary" })</td>

                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->

<div class="modal fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="edit_modal_body">
        </div>
    </div>
</div>

<div class="panel-danger" id="loading" title="Processing Report Query...">
    <p>Please wait ...</p>
</div>
@section JavaScript
{
<script type="text/javascript">
        function bindJQueryEvents() {
            $("#StartDate").datepicker({
                minDate: new Date(2015, 1 - 1, 1),
                maxDate: new Date()
            });

            $("#EndDate").datepicker({
                minDate: new Date(2015, 1 - 1, 1),
                maxDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000)
            });

            //Load the details page
            $(".viewButton").click(function () {
                $("#edit_modal_body").load("/UploadError/TransactionDetails/" + $(this).data("view-id"));
            });

            $('#dataTable1').dataTable({
                "bJQueryUI": true, "order": [[0, "desc"]],
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sEmptyTable": "No Level exist."
                },
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "~/swf/copy_csv_xls_pdf.swf",
                    "sRowSelect": "os",
                    "aButtons": [
                    "select_all", "select_none",
                "copy",
                "csv",
                "xls",
                {
                    "sExtends": "pdf",
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": ""
                },
                "print"
                    ]
                }
            }); 
            
            $("#loading").dialog({
                hide: 'slide',
                show: 'slide',
                autoOpen: false
            });
        }

        $(document).ready(function () {
            bindJQueryEvents();

            $("#btnRefresh").click(function () {
                var filter = {
                    RoleId: @ViewBag.RoleID,
                    UserTypeId: @ViewBag.UserTypeId,
                    startDate: $("#StartDate").val(),
                    endDate: $("#EndDate").val(),
                    Limit: $("#Limit").val(),
                    FilterData: $("#FilterData").val(),
                };

                $.ajax({
                    type: 'POST',
                    data: filter,
                    url: '/UploadError/ErrorTransactionsFilter/',
                    beforeSend: function(){
                        $("#loading").dialog('open').html("<p>Please Wait...</p>");
                    }
                }).done(function (data) {
                    $('#loading').html("<p>Completed.</p>");
                    $("#reportData").empty();
                    $("#reportData").html(data);
                    bindJQueryEvents();
                });
            });
    });

</script>
                    

}


