@model CICSWebPortal.Models.ErrorTransaction
@{
    ViewBag.Title = "TransactionDetails"; Layout = null;
}

<div class="main-header clearfix"> 
    <h4>Upload Error: @Model.UploadError</h4> <hr/>
    <h4>Resolution Status: @{
        var resolutionStatus = String.Empty;
        if (Model.ResolutionStatus.Value==1) {
            resolutionStatus = "Resolved";
        }
        else
        {
            resolutionStatus = "Pending";
        }

                             }@resolutionStatus</h4>   
</div><!-- /main-header -->

<div class="panel panel-default table-responsive">
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable1">
            <tbody>
                <tr><th>Transaction Code </th> <td>@Model.TransactionCode</td></tr>
                <tr><th>ResidentID </th> <td>@Model.ResidentId</td></tr>
                <tr><th>Terminal Code </th> <td>@Model.TerminalCode</td> </tr>
                <tr><th>Agent</th> <td>@Model.AgentName</td></tr>
                <tr><th>Payment Details</th> <td>@Model.RevenueName / @Model.RevenueHead / @Model.Ministry</td></tr>
                <tr><th>Payment Reference</th> <td>@Model.PaymentReference</td></tr>
                <tr><th>Amount</th> <td>@Model.Amount</td> </tr>
                <tr><th>First Name</th> <td>@Model.LastName @Model.MiddleName @Model.FirstName</td></tr>
                <tr><th>Gender</th> <td>@Model.Gender</td> </tr>
                <tr><th>Date of Birth</th> <td>@Model.DateOfBirth</td></tr>
                <tr><th>Email</th> <td>@Model.Email</td></tr>
                <tr><th>Phone</th> <td>@Model.PhoneNumber</td> </tr>
                <tr><th>Address</th> <td>@Model.Address</td></tr>
                <tr><th>Transaction Date</th> <td>@Model.TransactionDate</td> </tr>
                <tr><th>Upload Date</th> <td>@Model.UploadDate</td></tr>
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->

