<!DOCTYPE html>
<html lang="en">
@model CICSWebPortal.Models.ForgotPasswordViewModel
@{

    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>IGR Hub::. Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/Content/endless.css" rel="stylesheet">

</head>
<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h2 class="fadeInUp animation-delay8" style="font-weight:bold">

                <img src="~/Images/chams_logo.png" />
            </h2>
        </div>
        <div class="login-widget animation-delay">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="text-center">
                        <i class="fa fa-lock fa-lg"></i> Forgot Password
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Enter your email.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 pull-right">
                                <input type="submit" class="btn btn-primary" value="Email Password Reset Link" />
                            </div>
                        </div>
                    }
                </div>
            </div><!-- /panel -->

        </div>
        <div class="text-center">
            <span class="text-center">
                <strong class="text-danger text-center">IGR Hub</strong> <br />&copy; @DateTime.Now.Year <a href="http://www.chams.com">Chams plc.</a> All Rights Reserved.
            </span>
        </div>
        <!-- /login-widget -->
    </div><!-- /login-wrapper -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Modernizr -->
    <script src="~/Scripts/modernizr.min.js"></script>

    <!-- Pace -->
    <script src='~/Scripts/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/Scripts/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/Scripts/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/Scripts/jquery.cookie.min.js'></script>
    <!-- Endless -->
    <script src="~/Scripts/endless.js"></script>
</body>
</html>

